body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #000000de;
   font-family: 'Press Start 2P', cursive;
   font-size: 14px;
   color: white;
 }
 h1,h2,h3,h4,h5,h6,p,a,div,span,input,button,form {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: inherit;
 }
 *{
   box-sizing: border-box;
 }
 

.container{
   max-width: 1225px;
   width: 100%;
   margin: 0 auto;
}

.header{
   height: 40vh;
   /* border-bottom:10px solid white; */
   position: relative;
   padding: 0 10px;
}

.header_wrapper{
   display: flex;
   justify-content: space-between;
   padding-top: 15px;
}

.title{
   position: absolute;
   left: 50%;
   top: 55%;
   transform: translateX(-50%);
   text-align: center;
}

.number_between{
   text-align: center;
   padding-left: 10px;
}

.secret_number{
   height: 80px;
   width: 200px;
   background-color: white;
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translate(-50%,-55%);
   color: black;
   font-size: 55px;
   text-align: center;
   line-height: 80px;
   z-index: 11;
   border-radius: 5px;
}
/* full screen line  */
.line {
   width: 100vw;
   height: 10px;
   background-color: white;
   position: absolute;
   top: 40vh;
   z-index: 10;
   transform: translateY(-100%)
}

.btn{
   width: 180px;
   font-size: 22px;
   line-height: 30px;
   text-align: center;
}

.hero_section{
   height: 60vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.right p {
   padding-bottom: 25px;
   font-size: 20px;
}

.left{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.input_number{
   padding-left: 15px;
   padding-top: 5px;

   width: 150px;
   margin-bottom: 20px;
   font-size: 55px;
   line-height: 60px;
   background-color: black;
   color: white;
   border: 3px solid white;
}