body{
    padding: 0;
    margin: 0;
   
}

.container{
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
}

.currenty{
    font-size: 28px;
    color: red;
}

.color{
    background-color: blue;
}

.square{
    width: 150px;
    height: 150px;
    background-color: green;
}