* {
    box-sizing: border-box;
}
body,h1,h2,h3,h4,p,ul[class],ol[class],li{
    padding: 0;
    margin: 0;  
}

.container{
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.currenty{
    font-size: 28px;
    color: red;
}

.color{
    background-color: blue;
}

.square{
    width: 150px;
    height: 150px;
    background-color: green;
    display: none;
    position: relative;
}